[submodule "home/_.janus/vim-less"]
	path = home/_.janus/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "home/_.janus/csspretty"]
	path = home/_.janus/csspretty
	url = git://github.com/vim-scripts/Css-Pretty.git
[submodule "home/_.janus/vim-slim"]
	path = home/_.janus/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "home/_.janus/vim-jade"]
	path = home/_.janus/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "home/_.janus/vim-gitgutter"]
	path = home/_.janus/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/_.bash_profile_includes/start"]
	path = home/_.bash_profile_includes/start
	url = https://github.com/JangoSteve/start.git
